.loading_wrapper {
  position: fixed;
  height: 100vh;
  width: 100vw;
  left: 0;
  top: 0;
  overflow: hidden;
  z-index: 10000000;
  background: rgba(32, 32, 32, 0.651);
  display: none;
}

.loading_wrapper .loading_main {
  position: absolute;
  left: 48%;
  top: 48%;
  z-index: 10000000;
  -webkit-transform: translate(-46%, -46%);
          transform: translate(-46%, -46%);
  height: 50px;
  width: 50px;
  -webkit-animation: rotate 0.8s infinite linear;
          animation: rotate 0.8s infinite linear;
  border: 10px solid #fff;
  border-left-color: transparent;
  border-radius: 50%;
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

* {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

.container {
  height: 100vh;
}

.grid_container {
  display: -ms-grid;
  display: grid;
      grid-template-areas: 'top_nav' 'admin_panel';
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-gap: 0;
}

.top_nav {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: top_nav;
  background: #f3f3f3;
  height: 80px;
  width: 100%;
  border-bottom: 1px solid #cecece;
  z-index: 1000;
  position: fixed;
}

.top_nav .peach_logo {
  float: left;
  margin-top: 10px;
  height: 60px;
}

.top_nav .peach_logo .peach_logo_img {
  width: 350px;
  height: 100%;
}

.top_nav .profile_section {
  float: right;
  padding: 5px;
  height: 60px;
  margin-top: 5px;
  margin-right: 120px;
  color: #555;
}

.top_nav .profile_section .profile_user {
  float: left;
  margin-top: 15px;
  margin-right: 20px;
}

.top_nav .profile_section .profile_user p {
  text-transform: capitalize;
}

.top_nav .profile_section .profile_btn {
  float: right;
  margin-top: 10px;
}

.top_nav .profile_section .profile_btn .profile_dropdown {
  display: none;
  z-index: 1000000;
  width: 180px;
  background: #fff;
  position: absolute;
  border-radius: 5px;
  top: 70px;
  padding: 10px;
  -webkit-box-shadow: 0px 10px 10px #cecece;
          box-shadow: 0px 10px 10px #cecece;
  margin-left: -180px;
}

.top_nav .profile_section .profile_btn .profile_dropdown .links_btn {
  text-decoration: none;
  color: #333;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.top_nav .profile_section .profile_btn .profile_dropdown .links_btn .links_box {
  padding: 10px;
  border-bottom: 1px solid #cecece;
  -webkit-box-shadow: 0px 0px 10px #cecece;
          box-shadow: 0px 0px 10px #cecece;
}

.top_nav .profile_section .profile_btn .profile_dropdown .links_btn .links_box .fas {
  margin-left: 5px;
}

.top_nav .profile_section .profile_btn .profile_dropdown .links_btn .links_box .fa-sign-out-alt {
  color: red;
}

.top_nav .profile_section .profile_btn .profile_dropdown .links_btn .links_box .sign_out {
  margin-left: 5px;
}

.top_nav .profile_section .profile_btn .profile_dropdown .links_btn .links_box:hover {
  background: #cecece;
}

.top_nav .profile_section .profile_btn .profile_icon {
  text-align: center;
  float: right;
  font-size: 40px;
  color: #333;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.top_nav .profile_section .profile_btn .profile_icon:hover {
  color: #555555;
}

.admin_panel {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: admin_panel;
  display: -ms-grid;
  display: grid;
      grid-template-areas: 'left_nav main_section right_nav';
  grid-auto-columns: 180px 1fr 100px;
  margin-top: 80px;
}

.admin_panel .left_nav {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: left_nav;
  background: #f16311;
  height: 100vh;
  position: fixed;
}

.admin_panel .left_nav .nav_nav {
  text-align: center;
  background: #d15107;
  color: white;
  padding: 20px;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.admin_panel .left_nav .second_link {
  margin-top: 10px;
}

.admin_panel .left_nav .feedback_link {
  position: relative;
  bottom: 0;
}

.admin_panel .left_nav .left_nav_links {
  display: -ms-grid;
  display: grid;
      grid-template-areas: 'left_nav_icon left_nav_link';
  -ms-grid-columns: 40% 1fr;
      grid-template-columns: 40% 1fr;
  grid-gap: 5px;
  color: #333;
  text-decoration: none;
}

.admin_panel .left_nav .left_nav_links:hover {
  background: #d15107;
  color: #fff;
}

.admin_panel .left_nav .left_nav_links .left_nav_icon {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: left_nav_icon;
  text-align: center;
  font-size: 30px;
}

.admin_panel .left_nav .left_nav_links .left_nav_link {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: left_nav_link;
  font-size: 16px;
}

.admin_panel .left_nav .left_nav_links .left_nav_link p {
  margin-top: 10px;
}

.admin_panel .main_section {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: main_section;
  padding: 10px;
}

.admin_panel .right_nav {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: right_nav;
  border-left: 1px solid #d8d8d8;
  background: #dedede;
  width: 100px;
  position: fixed;
  right: 0;
  height: 100vh;
}

.hidden {
  display: none;
}

@media (min-width: 1000px) and (max-width: 1800px) {
  .top_nav {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: top_nav;
    background: #f3f3f3;
    height: 80px;
    width: 100%;
    border-bottom: 1px solid #cecece;
    z-index: 1000;
    position: fixed;
  }
  .top_nav .peach_logo {
    float: left;
    margin-top: 10px;
    height: 60px;
  }
  .top_nav .peach_logo .peach_logo_img {
    width: 350px;
    height: 100%;
  }
  .top_nav .profile_section {
    float: right;
    padding: 5px;
    height: 60px;
    margin-top: 5px;
    margin-right: 20px;
    color: #555;
  }
  .admin_panel {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: admin_panel;
    display: -ms-grid;
    display: grid;
        grid-template-areas: 'left_nav main_section';
    grid-auto-columns: 150px 1fr;
    margin-top: 80px;
  }
  .admin_panel .left_nav {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: left_nav;
    height: 100vh;
    position: fixed;
  }
  .admin_panel .left_nav .nav_nav {
    padding: 20px;
    font-size: 14px;
    letter-spacing: 4px;
  }
  .admin_panel .left_nav .second_link {
    margin-top: 10px;
  }
  .admin_panel .left_nav .feedback_link {
    position: relative;
    bottom: 0;
  }
  .admin_panel .left_nav .left_nav_links {
    display: -ms-grid;
    display: grid;
        grid-template-areas: 'left_nav_icon left_nav_link';
    -ms-grid-columns: 40% 1fr;
        grid-template-columns: 40% 1fr;
    grid-gap: 5px;
  }
  .admin_panel .left_nav .left_nav_links .left_nav_icon {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: left_nav_icon;
    text-align: center;
    font-size: 30px;
  }
  .admin_panel .left_nav .left_nav_links .left_nav_link {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: left_nav_link;
    font-size: 16px;
  }
  .admin_panel .left_nav .left_nav_links .left_nav_link p {
    margin-top: 10px;
  }
  .admin_panel .main_section {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: main_section;
    padding: 10px;
  }
  .admin_panel .right_nav {
    display: none;
  }
}
/*# sourceMappingURL=template.css.map */