@import "../mixins";
@import "../variables";
@import '../loading';

*{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.container{
    height: 100vh;
}

.grid_container{
    display: grid;
    grid-template-areas: 'top_nav'
    'admin_panel'
    ;
    grid-template-columns: 1fr;
    grid-gap: 0;
}

.top_nav{
    grid-area: top_nav;
    background: #f3f3f3;
    // background: #f16311;;
    height: 80px;
    width: 100%;
    border-bottom: 1px solid #cecece;
    z-index: 1000;
    position: fixed;

    .peach_logo{
        float: left;
        margin-top: 10px;
        height: 60px;
        .peach_logo_img{
            width: 350px;
            height: 100%;
        }
    }

    .profile_section{
        float: right;
        padding: 5px;
        height: 60px;
        margin-top: 5px;
        margin-right: 120px;
        color: $headerColor;
        .profile_user{
            float: left;
            margin-top: 15px;
            margin-right: 20px;
            p{
                text-transform: capitalize;
            }
        }
        .profile_btn{
            float: right;
            margin-top: 10px;

            .profile_dropdown{
                display: none;
                z-index: 1000000;
                width: 180px;
                background: #fff;
                position: absolute;
                border-radius: 5px;
                top: 70px;
                padding: 10px;
                box-shadow: 0px 10px 10px #cecece;
                margin-left: -180px;
                .links_btn{
                    text-decoration: none;
                    color: #333;
                    transition: all 0.2s;
                    .links_box{
                        @include profileBtnStyle();
                        .fas{
                            margin-left: 5px;
                        }
                        .fa-sign-out-alt{
                            color: red;
                        }
                        .sign_out{
                            margin-left: 5px;
                        }
                        &:hover{
                            background: #cecece;
                        }
                    }
                }
            }

            .profile_icon{
                text-align: center;
                float: right;
                font-size: 40px;
                color: #333;
                cursor: pointer;
                transition: all 0.2s;
                &:hover{
                    color: #555555;
                }
            }
        }
    }
}

.admin_panel{
    grid-area: admin_panel;
    display: grid;
    grid-template-areas: 'left_nav main_section right_nav'
    ;
    grid-auto-columns: 180px 1fr 100px;
    margin-top: 80px;
    
    .left_nav{
        grid-area: left_nav;
        background: #f16311;
        height: 100vh;
        position: fixed;

        .nav_nav{
            text-align: center;
            background: #d15107;
            color: white;
            padding: 20px;
            font-size: 16px;
            text-transform: uppercase;
            letter-spacing: 4px;
        }
        .second_link{
            margin-top: 10px;
        }
        .feedback_link{
            position: relative;
            bottom: 0;
        }

        .left_nav_links{
            display: grid;
            grid-template-areas: 'left_nav_icon left_nav_link'
            ;
            grid-template-columns: 40% 1fr;
            grid-gap: 5px;
            color: #333;
            text-decoration: none;

            &:hover{
                background: #d15107;
                color: #fff;
            }

            .left_nav_icon{
                grid-area: left_nav_icon;
                // border: $border;
                text-align: center;
                font-size: 30px;
            }
            .left_nav_link{
                grid-area: left_nav_link;
                // border: $border;
                font-size: 16px;
                p{
                    margin-top: 10px;
                }
            }
            
        }
        
    }
    
    .main_section{
        grid-area: main_section;
        padding: 10px;
        // ********************************** ADD YOUR CODE HERE **********************************

    }
    
    .right_nav{
        grid-area: right_nav;
        border-left: 1px solid rgb(216, 216, 216);
        background: #dedede;
        width: 100px;
        position: fixed;
        right: 0;
        height: 100vh;
    }
}

.hidden{
    display: none;
}

@import 'template_responsive';