@import "../mixins";
@import "../variables";
@import "../modals";

// ************** ADMIN PANEL **************
.admin_panel{
    
    // ************** MAIN SECTION **************
    .main_section{
        display: grid;
        grid-area: main_section;
        grid-template-areas: 'admin_users_main .'
        ;
        grid-template-columns: 60% 1fr;
        grid-gap: 10px;
        // overflow-y: scroll;
        // overflow-x: hidden;
        // @include scrollbar();

        // ************** ADMIN USERS MAIN **************
        .admin_users_main{
            grid-area: admin_users_main;
            @include panelBox();
            max-height: 400px;
            color: $boxHeaderColor;

            // ************** ADMIN USERS HEADER **************
            .admin_users_header{
                @include boxHeaderSection();
            }
            .admin_users_content{
                padding: 10px;
                margin-top: 5px;
                overflow: scroll;
                @include scrollbar();
                .admin_users_table{
                    border-collapse: collapse;
                    width: 100%;
                    tr{
                        border: 1px solid #dddddd;
                        text-align: left;
                        padding: 10px;
                        .fa-times{
                            color: $deleteRed;
                        }
                        .fa-check{
                            color: green;
                        }
                        .isAdmin{
                            i{
                                margin-left: 15px;
                            }
                        }
                        td, th{
                            font-size: 15px;
                            padding: 10px;
                            .first_btn{
                                margin-right: 15px;
                            }
                            .label_main{
                                cursor: pointer;
                            }
                            .r_admin_btn{
                                color: rgb(42, 180, 42);
                            }
                            .new_password{
                                color: $editBlue;
                            }
                            .dlt_user_btn{
                                color: $deleteRed;
                            }
                        }
                    }
                    tr:nth-child(even) {
                        background-color: #dddddd;
                    }
                }
            }
        }
        // .admin_test_main{
        //     grid-area: admin_test_main;
        //     @include panelBox();
        //     max-height: 400px;
        //     color: $boxHeaderColor;
        //     .admin_test_header{
        //         @include boxHeaderSection();
        //     }
        // }
    }
}

@import '../label';