<!-- MODAL -->

<div class="modal_wrapper modal_2" data-modal="modal_2">
    <div class="modal_main">
        <div class="modal_header">
            <h3>New Leave Date <i class="fab fa-pagelines"></i></h3>
            <i class="far fa-times-circle close_modal"></i>
        </div>
        <div class="modal_form">
            <form method="POST" action="/calendar-form">
                <div class="input_box">
                    <label>Username</label>
                    <br>
                    <input type="text" name="username" placeholder="Enter your username" autofocus autocomplete="off" spellcheck="false" required>
                </div>
                <div class="input_box">
                    <label for="title">Reason for leave</label>
                    <br>
                    <input type="text" name="title" placeholder="Enter your reason" autocomplete="off" required>
                </div>
                <div class="input_box">
                    <label for="startDate">Start Date</label>
                    <br>
                    <input class="calendar_date" type="date" name="startDate" autocomplete="off" required>
                </div>
                <div class="input_box">
                    <label for="endDate">End Date</label>
                    <br>
                    <input class="calendar_date" type="date" name="endDate" autocomplete="off" required>
                </div>
                <div class="input_box">
                    <label for="color">Color</label>
                    <br>
                    <input id="color_input" type="color" name="color" autocomplete="off" required>
                </div>
                <button class="button_calendar disabled" type="submit">Submit <i class="fas fa-arrow-right submit_arrow"></i></button>
            </form>
        </div>
    </div>
</div>