<!-- MODAL -->

<div class="modal_wrapper modal_7" data-modal="modal_7">
    <div class="modal_main">
        <div class="modal_header">
            <h3>Confirm Reset <i class="fab fa-pagelines"></i></h3>
            <i class="far fa-times-circle close_modal"></i>
        </div>
        <div class="modal_form modal_options">
            <% if (user.admin == "true") { %>
                <button class="confirm_btn confirm_reset_btn disabled">Yes <i class="fas fa-check"></i></button>
                <button class="cancel_btn close_modal">Cancel <i class="fas fa-times"></i></button>
            <% } else { %>
                <p class="not_authorised">You are not authorised to make changes.</p>
            <% } %>
        </div>
    </div>
</div>