<!-- ADD A TASK MODAL -->

<div class="modal_wrapper modal_1" data-modal="modal_1">
    <div class="modal_main">
        <div class="modal_header">
            <h3>New Task <i class="fas fa-tasks"></i></h3>
            <i class="far fa-times-circle close_modal"></i>
        </div>
        <div class="modal_form">
                <form method="POST" action="/add_new_note">
                    <div class="input_box hideme">
                        <input type="text" name="username" value="<%= user.username %>" required>
                    </div>
                    <div class="input_box hideme">
                        <input type="text" name="completed" value="false" required>
                    </div>
                    <div class="input_box">
                        <label for="note">Task</label>
                        <br>
                        <input type="text" name="note" placeholder="Enter new task" autofocus autocomplete="off" required>
                    </div>
                    <div class="input_box">
                        <label for="importance">Level of importance</label>
                        <br>
                        <select name="importance" required>
                            <option selected="selected" disabled="disabled">Please select one</option>
                            <option value="Urgent">Urgent</option>
                            <option value="Normal">Normal</option>
                            <option value="None">None</option>
                        </select>
                    </div>
                    <button class="button_calendar disabled" type="submit">Submit <i class="fas fa-arrow-right submit_arrow"></i></button>
                </form>
            </div>
    </div>
</div>