@import "../mixins";
@import "../variables";
@import "../modals";

@keyframes fadeTimeIn {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.Urgent{
    background: $deleteRed;
    @include importanceNote();
    margin-right: 5px;
    text-decoration: none;
    margin-top: 3px;
}
.Normal{
    background: rgb(0, 211, 18);
    @include importanceNote();
    margin-right: 5px;
    text-decoration: none;
    margin-top: 3px;
}
.None{
    background: rgb(0, 98, 211);
    @include importanceNote();
    margin-right: 5px;
    text-decoration: none;
    margin-top: 3px;
}

// ************** ADMIN PANEL **************
.admin_panel{

    // ************** MAIN SECTION **************
    .main_section{
        grid-area: main_section;
        display: grid;
        grid-template-areas: 'first_section'
        'second_section'
        ;
        grid-template-columns: 1fr;
        grid-gap: 20px;
        overflow-y: scroll;
        overflow-x: hidden;
        @include scrollbar();
        padding: 10px;

        .first_section{
            display: grid;
            grid-template-areas: 'weather_main notes_main'
            ;
            grid-template-columns: 1fr 65%;
            grid-gap: 20px;
        }
        
        .second_section{
            display: grid;
            grid-template-areas: 'news_main merchants_main'
            ;
            grid-template-columns: 40% 1fr;
            grid-gap: 20px;
        }

        // ************** WEATHER MAIN **************
        .weather_main{
            grid-area: weather_main;
            @include panelBox();
            height: 340px;
            color: $boxHeaderColor;

            // ************** WEATHER HEADER **************
            .weather_header{
                @include boxHeaderSection();
            }

            //  WEATHER CONTENT
            .weather_content{
                padding: 10px;
                margin-top: 5px;
                height: 100px;
                // WEATHER ICON
                .weather_sub{
                    float: left;
                    // WEATHER TEMPERATURE TEXT
                    .weather_temp_text{
                        font-weight: 600;
                        margin-top: 15px;
                        margin-right: 10px;
                        float: left;
                        font-size: 25px;
                    }
                    // WEATHER CONDITION
                    .weather_condition{
                        font-size: 18px;
                        color: $boxTextColor;
                    }
                }
                // CALENDER
                .today_calender{
                    float: right;
                    p{
                        position: relative;
                        bottom: 0;
                        font-weight: 600;
                        font-size: 18px;
                    }
                    .today_day{
                        margin-top: 30px;
                    }
                    // TODAY'S DATE
                    .today_date{
                        margin-top: 10px;
                        color: $boxTextColor;
                        font-weight: lighter;
                    }
                }
            }
            // WEATHER ADDITIONAL
            .weather_additional{
                margin-top: 10px;
                p{
                    padding: 10px;
                }
                span{
                    float: right;
                }
                // WIND SPEED
                .wind_speed{
                    border-top: 1px solid #e2e2e2;
                }
                // HUMIDITY
                .humidity{
                    border-top: 1px solid #e2e2e2;
                }
                // CLOUD COVER
                .cloud_cover{
                    border-top: 1px solid #e2e2e2;
                    border-bottom: 1px solid #e2e2e2;
                }
            }
        }

        // NOTES MAIN
        .notes_main{
            grid-area: notes_main;
            @include panelBox();
            height: 340px;
            color: $boxHeaderColor;
            position: relative;
            
            //  NOTES HEADER
            .notes_header{
                @include boxHeaderSection();
            }
            .notes_btn{
                position: absolute;
                top: 7px;
                right: 20px;
                @include button();
                font-size: 14px;
                @include addNewBtn();
            }
            // NOTES CONTENT
            .notes_content{
                padding: 10px;
                margin-top: 20px;
                height: 240px;
                overflow-y: scroll;
                overflow-x: hidden;
                color: #7C8695;
                a{
                    text-decoration: none;
                }
                // NOTES TEXT
                .notes_text{
                    @include contentSection();
                    padding: 8px;
                    display: grid;
                    grid-template-areas: 'notes_right notes_center notes_left'
                    ;
                    grid-template-columns: 90px 1fr 50px;
                    grid-gap: 10px;

                    // NOTES LEFT
                    .notes_left{
                        grid-area: notes_left;
                        // NOTES COMPLETE
                        .note_complete{
                            color: $deleteRed;
                            transition: all 0.2s;
                            &:hover{
                                color: transparent;
                            }
                        }
                        // NOTES CHECK
                        .note_check{
                            color: transparent;
                            transition: all 0.2s;
                            &:hover{
                                color: $deleteRed;
                            }
                        }
                        .delete_note{
                            float: right;
                            cursor: pointer;
                            display: none;
                            color: $deleteRed;
                        }
                        .completed_task{
                            display: block;
                        }
                        .note_icon{
                            cursor: pointer;
                            padding: 2px;
                            border: 2px solid $boxTextColor;
                        }
                        &:hover{
                            .delete_note{
                                display: block;
                            }
                        }
                    }
                    // NOTES CENTER
                    .notes_center{
                        grid-area: notes_center;
                        cursor: pointer;
                        &:hover{
                            text-decoration: underline;
                        }
                    }
                    // NOTES RIGHT BUT ACTUALLY LEFT
                    .notes_right{
                        grid-area: notes_right;
                        .note_label_wrapper{
                            float: left;
                        }
                    }
                }
                @include scrollbar();
            }
        }
        .news_main{
            grid-area: news_main;
            @include panelBox();
            height: 450px;
            color: $boxHeaderColor;

            .news_header{
                @include boxHeaderSection();
            }
            .news_content{
                height: 380px;
                overflow-y: scroll;
                overflow-x: hidden;
                padding: 5px;
                .news_box{
                    height: 140px;
                    width: 100%;
                    margin-bottom: 10px;
                    .news_image{
                        float: left;
                        width: 35%;
                        img{
                            height: 140px;
                            width: 190px;
                            border-radius: 5px;
                        }
                    }
                    .news_text{
                        position: relative;
                        float: left;
                        width: 60%;
                        height: 150px;
                        a{
                            text-decoration: none;
                            color: $boxTextColor;
                        }
                        .article_title{
                            margin-top: 15px;
                            font-weight: 600;
                            letter-spacing: 0.5px;
                        }
                        .article_info{
                            color: #a7a7a7;
                            font-size: 14px;
                            margin-top: 10px;
                            .article_author, .article_date{
                                margin-left: 5px;
                            }
                            .calendar_icon{
                                margin-left: 10px;
                            }
                        }
                    }
                }
                @include scrollbar();
            }
        }
        .merchants_main{
            grid-area: merchants_main;
            height: 450px;
            @include panelBox();
            color: $boxHeaderColor;
            position: relative;

            .merchant_btn{
                position: absolute;
                top: 7px;
                right: 20px;
                @include button();
                font-size: 14px;
                @include addNewBtn();
            }
            
            //  NOTES HEADER
            .merchants_header{
                @include boxHeaderSection();
            }
            .merchants_content{
                padding: 10px;
                margin-top: 10px;
                height: 350px;
                overflow-y: scroll;
                overflow-x: hidden;
                color: #7C8695;
                @include scrollbar();

                .merchants_table{
                    border-collapse: collapse;
                    width: 100%;
                    thead{
                        background: #cecece;
                    }
                    .merchant_name_text{
                        color: rgb(19, 111, 182);
                    }
                    tr{
                        border: 1px solid #dddddd;
                        text-align: left;
                        padding: 10px;
                        td, th{
                            font-size: 15px;
                            padding: 10px;
                        }
                    }
                    .edit_merchant{
                        cursor: pointer;
                        color: #35A7FF;
                        transition: all 0.2s;
                        i{
                            margin-left:20px;
                        }
                        &:hover{
                            color: rgb(3, 129, 224);
                        }
                    }
                    .box_checked{
                        color: #33658A;
                    }
                    .box_unchecked{
                        color: #C3423F;
                    }
                    tr:nth-child(even) {
                        background-color: #f1f1f1;
                    }
                }
            }
        }
    }
}

@import '../home_responsive';
@import '../label';