<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><%= header %> - Peach Payments</title>
    <link rel="icon" type="favicon" href="https://support.peachpayments.com/hc/en-us/article_attachments/200826988/Peach_Icon.png">
    <link rel="stylesheet" type="text/css" media="screen" href="/stylesheets/autologin/autologin.css" />
</head>
<body>

    <div class="loading_wrapper">
        <h1>Logging you in</h1>
        <div class="loading_main"></div>
    </div>

    <!-- CONTAINER -->
    <div class="container">
        <!-- WRAPPER -->
        <div class="wrapper login_wrapper">

            <!-- LOGIN FORM -->
            <form class="form_main" method="POST" action="/users/login">

                <h3> Employee Login </h3>

                <i class="fas fa-envelope login_icon"></i>
                <input type="text" name="username" value="<%= username %>" autofocus>
                <br><br>
                <i class="fas fa-lock login_icon"></i>
                <input type="password" name="password" value="<%= password %>">
                <br><br>

                <button class="login-btn disabled"><%= header %></button>
                <p>Don't have an account? <a href="/users/register">Register</a></p>

            </form>
        </div>
    </div>

    <!-- JAVASCRIPT -->
    <script src="/javascripts/jquery.js"></script>
    <script src="/javascripts/script.js"></script>
    
    <script>

    $(".login-btn").click();

    </script>

</body>
</html>
</html>