<div class=" left_nav">
    <div class="nav_nav">
        <p>Navigation</p>
    </div>
    <a href="/" class="left_nav_links second_link home_link disabled">
        <div class="left_nav_icon">
            <i class="fas fa-home nav_icon"></i>
        </div>
        <div class="left_nav_link">
            <p class="link_text">Home</p>
        </div>
    </a>
    <a href="/calendar" class="left_nav_links calendar_link second_link disabled">
        <div class="left_nav_icon">
            <i class="fas fa-calendar nav_icon"></i>
        </div>
        <div class="left_nav_link">
            <p class="link_text">Calendar</p>
        </div>
    </a>
    <a href="/hr-policy" class="left_nav_links hr_link second_link disabled">
        <div class="left_nav_icon">
            <i class="fas fa-book nav_icon"></i>
        </div>
        <div class="left_nav_link">
            <p class="link_text">HR Policy</p>
        </div>
    </a>
    <a href="/hr-policy" class="left_nav_links leave_link second_link disabled">
        <div class="left_nav_icon">
            <i class="fas fa-file-alt nav_icon"></i>
        </div>
        <div class="left_nav_link">
            <p class="link_text">Leave</p>
        </div>
    </a>
</div>