<!-- TOP NAVIGATION BAR -->
<div class="top_nav">
    <div class="peach_logo">
        <img class="peach_logo_img" src="/images/Peach Payments Horizontal.png" alt="">
    </div>
    <!-- PROFILE SECTION -->
    <div class="profile_section">
        <!-- PROFILE USERNAME -->
        <div class="profile_user">
            <% var username = user.username.replace("-"," ") %>
            <p><%= username %></p>
        </div>
        <!-- PROFILE BUTTON -->
        <div class="profile_btn">
            <!-- PROFILE ICON -->
            <i class="fas fa-user-circle profile_icon"></i>
            <!-- PROFILE SECTION DROPDOWN -->
            <div class="profile_dropdown">
                <!-- PROFILE BUTTON -->
                <a href="/profile" class="links_btn">
                    <div class="links_box">
                        <span>View Profile</span>
                        <i class="fas fa-user-circle links_logo"></i>
                    </div>
                </a>
                <!-- LOGOUT BUTTON -->
                <a href="/users/logout" class="links_btn">
                    <div class="links_box">
                        <span>Logout</span>
                        <i class="fas fa-sign-out-alt links_logo"></i>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>