@media (min-width:1000px)
and (max-width:1800px){

    $textFont: 14px;
    @mixin importanceNote{
        padding:  1px 18px;
        color: white;
        border-radius: 30px;
        font-size: 10px;
    }

    .Urgent{
        margin-right: 0px;
        margin-top: 3px;
        @include importanceNote();
    }
    .Normal{
        margin-right: 0px;
        margin-top: 3px;
        @include importanceNote();
    }
    .None{
        margin-right: 0px;
        margin-top: 3px;
        @include importanceNote();
    }

    .admin_panel{

        .main_section{
            padding: 20px;
            grid-gap: 20px;

            .first_section{
                display: grid;
                grid-template-areas: 'weather_main notes_main'
                ;
                grid-template-columns: 35% 65%;
                grid-gap: 20px;
            }
            
            .second_section{
                display: grid;
                grid-template-areas: 'merchants_main news_main'
                ;
                grid-template-columns: 70% 30%;
                grid-gap: 20px;
            }

            // ************** WEATHER MAIN **************
            .weather_main{
                grid-area: weather_main;
                @include panelBox();
                height: 340px;

                // ************** WEATHER HEADER **************
                .weather_header{
                    @include boxHeaderSection();
                }

                //  WEATHER CONTENT
                .weather_content{
                    padding: 10px;
                    margin-top: 5px;
                    height: 100px;
                    // WEATHER ICON
                    .weather_sub{
                        float: left;
                        // WEATHER TEMPERATURE TEXT
                        .weather_temp_text{
                            font-weight: 600;
                            margin-top: 15px;
                            margin-right: 10px;
                            float: left;
                            font-size: 20px;
                        }
                        // WEATHER CONDITION
                        .weather_condition{
                            font-size: 16px;
                        }
                    }
                    // CALENDER
                    .today_calender{
                        float: right;
                        p{
                            position: relative;
                            bottom: 0;
                            font-weight: 600;
                            font-size: $textFont;
                        }
                        .today_day{
                            margin-top: 20px;
                        }
                        // TODAY'S DATE
                        .today_date{
                            margin-top: 5px;
                            color: $boxTextColor;
                            font-weight: lighter;
                        }
                    }
                }
                // WEATHER ADDITIONAL
                .weather_additional{
                    margin-top: 10px;
                    font-size: $textFont;
                    p{
                        padding: 10px;
                    }
                    span{
                        float: right;
                    }
                }
            }

            .notes_main{
                grid-area: notes_main;
                @include panelBox();
                height: 340px;
                position: relative;
                
                //  NOTES HEADER
                .notes_header{
                    @include boxHeaderSection();
                }
                .notes_btn{
                    position: absolute;
                    top: 7px;
                    right: 20px;
                    @include button();
                    font-size: 14px;
                    @include addNewBtn();
                }
                // NOTES CONTENT
                .notes_content{
                    padding: 6px;
                    margin-top: 20px;
                    height: 240px;
                    // NOTES TEXT
                    .notes_text{
                        @include contentSection();
                        padding: 7px;
                        display: grid;
                        grid-template-areas: 'notes_right notes_center notes_left'
                        ;
                        grid-template-columns: 85px 1fr 45px;
                        grid-gap: 0px;
                        font-size: $textFont;
    
                        // NOTES LEFT
                        .notes_left{
                            grid-area: notes_left;
                            // NOTES COMPLETE
                            .note_complete{
                                font-size: $textFont;
                            }
                            // NOTES CHECK
                            .note_check{
                                font-size: $textFont;
                            }
                            .delete_note{
                                font-size: $textFont;
                            }
                            .completed_task{
                                display: block;
                                font-size: $textFont;
                            }
                            .note_icon{
                                padding: 2px;
                            }
                        }
                        // NOTES CENTER
                        .notes_center{
                            grid-area: notes_center;
                        }
                        // NOTES RIGHT BUT ACTUALLY LEFT
                        .notes_right{
                            grid-area: notes_right;
                            .note_label_wrapper{
                                float: left;
                            }
                        }
                    }
                }
            }
            .news_main{
                grid-area: news_main;
                @include panelBox();
                height: 450px;
    
                .news_header{
                    @include boxHeaderSection();
                }
                .news_content{
                    height: 380px;
                    overflow-y: scroll;
                    overflow-x: hidden;
                    padding: 5px;
                    .news_box{
                        // border: $border;
                        height: 270px;
                        width: 100%;
                        margin-bottom: 20px;
                        .news_image{
                            // border: $border;
                            float: unset;
                            width: 100%;
                            img{
                                height: 150px;
                                width: 100%;
                                border-radius: 5px;
                            }
                        }
                        .news_text{
                            // border: $border;
                            font-size: $textFont;
                            position: relative;
                            float: left;
                            width: 100%;
                            height: 110px;
                            .article_title{
                                margin-top: 0px;
                                font-weight: 600;
                                letter-spacing: 0.5px;
                            }
                            .article_info{
                                font-size: 13px;
                                margin-top: 10px;
                                .article_author, .article_date{
                                    margin-left: 5px;
                                }
                                .calendar_icon{
                                    margin-left: 10px;
                                }
                            }
                        }
                    }
                }
            }
            .merchants_main{
                .merchants_content{
                    .merchants_table{
                        width: 100%;
                        thead{
                            tr{
                                th{
                                    font-size: $textFont;
                                }
                            }
                        }
                        tr{
                            td{
                                font-size: $textFont;
                            }
                        }
                    }
                }
            }
        }
    }
}