// *************** MIXINS ***************

@mixin button{
    border: none;
    outline: none;
    background: transparent;
    cursor: pointer;
}
@mixin profileBtnStyle{
    padding: 10px;
    border-bottom: 1px solid #cecece;
    box-shadow: 0px 0px 10px #cecece;
}
@mixin panelBox{
    background: #fff;
    border-radius: 5px;
    // background: transparent;
    box-shadow: 0px 0px 10px rgb(216, 216, 216);
    border: 1px solid rgba(212, 212, 212, 0.514);
}
@mixin importanceNote{
    padding:  1px 20px;
    color: white;
    border-radius: 30px;
    font-size: 12px;
}
@mixin boxHeaderSection{
    padding: 15px;
    background: #f0f0f0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    p{
        font-family: 'Questrial', sans-serif;
        font-size: 22px;
        color: $boxHeaderColor;
    }
}
@mixin fadeBox{
    animation: fadeBox;
    animation-delay: 1s;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    transform: scale(0);

    @keyframes fadeBox {
        0%{
            transform: scale(0);
        }
        100%{
            transform: scale(1);
        }
    }
}
@mixin greenBtn{
    @include button();
    padding: 0.75rem 2rem;
    background: $buttonGreen;
    color: white;
    border-radius: 4px;
    font-size: 16px;
    transition: all 0.3s;
    &:hover{
        box-shadow: 0 0 10px $boxHeaderColor;
    }
}
@mixin scrollbar{
    &::-webkit-scrollbar {
        width: 10px;
    }
    &::-webkit-scrollbar-track {
        background: #ffffff;
    }
    &::-webkit-scrollbar-thumb {
        background: #555;
    }
}
@mixin addNewBtn{
    border-radius: 3px;
    color: #fff;
    background-color: #00c853;
    text-align: center;
    letter-spacing: .5px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    text-transform: uppercase;
    padding: 0.4rem 1rem;
}
@mixin contentSection {
    color: $boxTextColor;
    border-top: 1px solid #e2e2e2;
    padding: 8px;
}