@media (min-width: 1280px)
and (max-width:1500px){

    // ************** ADMIN PANEL **************
    .admin_panel{
        
        // ************** MAIN SECTION **************
        .main_section{
            grid-area: main_section;
            display: grid;
            grid-template-areas: 'weather_main notes_main'
            'news_main .'
            ;
            grid-template-columns: 1fr 60%;
            padding: 20px;
            grid-gap: 15px;
            background: #F9FAFB;
            overflow-y: scroll;
            overflow-x: hidden;
            @include scrollbar();

            // ************** WEATHER MAIN **************
            .weather_main{
                grid-area: weather_main;
                @include panelBox();
                @include fadeBox();
                height: 340px;
                color: $boxHeaderColor;

                // ************** WEATHER HEADER **************
                .weather_header{
                    @include boxHeaderSection();
                }

                //  WEATHER CONTENT
                .weather_content{
                    padding: 5px;
                    margin-right: 20px;
                    margin-left: 20px;
                    margin-top: 5px;
                    height: 100px;
                    // WEATHER ICON
                    .weather_sub{
                        float: left;
                        // WEATHER TEMPERATURE TEXT
                        .weather_temp_text{
                            font-weight: 600;
                            margin-top: 15px;
                            margin-right: 10px;
                            float: left;
                            font-size: 25px;
                        }
                        // WEATHER CONDITION
                        .weather_condition{
                            font-size: 18px;
                            color: $boxTextColor;
                        }
                    }
                    // CALENDER
                    .today_calender{
                        float: right;
                        p{
                            position: relative;
                            bottom: 0;
                            font-weight: 600;
                            font-size: 18px;
                        }
                        .today_day{
                            margin-top: 30px;
                        }
                        // TODAY'S DATE
                        .today_date{
                            margin-top: 10px;
                            color: $boxTextColor;
                            font-weight: lighter;
                        }
                    }
                }
                // WEATHER ADDITIONAL
                .weather_additional{
                    margin-top: 10px;
                    p{
                        padding: 10px;
                    }
                    span{
                        float: right;
                    }
                    // WIND SPEED
                    .wind_speed{
                        border-top: 1px solid #e2e2e2;
                    }
                    // HUMIDITY
                    .humidity{
                        border-top: 1px solid #e2e2e2;
                    }
                    // CLOUD COVER
                    .cloud_cover{
                        border-top: 1px solid #e2e2e2;
                        border-bottom: 1px solid #e2e2e2;
                    }
                }
            }

            // NOTES MAIN
            .notes_main{
                grid-area: notes_main;
                @include panelBox();
                height: 340px;
                color: $boxHeaderColor;
                position: relative;
                @include fadeBox();
                animation-delay: 1.5s;
                
                //  NOTES HEADER
                .notes_header{
                    @include boxHeaderSection();
                }
                .notes_btn{
                    position: absolute;
                    top: 7px;
                    right: 20px;
                    @include button();
                    padding: 0.4rem 1rem;
                    border: 1px solid green;
                    font-size: 14px;
                    color: white;
                    background: green;
                    border-radius: 3px;
                }
                // NOTES CONTENT
                .notes_content{
                    padding: 5px;
                    margin-top: 10px;
                    height: 240px;
                    overflow-y: scroll;
                    overflow-x: hidden;
                    color: #7C8695;
                    a{
                        text-decoration: none;
                    }
                    // NOTES TEXT
                    .notes_text{
                        color: $boxTextColor;
                        border-top: 1px solid #e2e2e2;
                        padding: 8px;
                        display: grid;
                        grid-template-areas: 'notes_right notes_center notes_left'
                        ;
                        grid-template-columns: 90px 1fr 50px;
                        grid-gap: 10px;

                        // NOTES LEFT
                        .notes_left{
                            grid-area: notes_left;
                            // NOTES COMPLETE
                            .note_complete{
                                color: #f16311;
                                transition: all 0.2s;
                                &:hover{
                                    color: transparent;
                                }
                            }
                            // NOTES CHECK
                            .note_check{
                                color: transparent;
                                transition: all 0.2s;
                                &:hover{
                                    color: #f16311;
                                }
                            }
                            .delete_note{
                                float: right;
                                cursor: pointer;
                                display: none;
                                color: #F44336;
                            }
                            .completed_task{
                                display: block;
                            }
                            .note_icon{
                                cursor: pointer;
                                padding: 2px;
                                border: 2px solid $boxTextColor;
                            }
                            &:hover{
                                .delete_note{
                                    display: block;
                                }
                            }
                        }
                        // NOTES CENTER
                        .notes_center{
                            grid-area: notes_center;
                        }
                        // NOTES RIGHT BUT ACTUALLY LEFT
                        .notes_right{
                            grid-area: notes_right;
                            .note_label_wrapper{
                                float: left;
                            }
                        }
                    }
                    @include scrollbar();
                }
            }
            .news_main{
                grid-area: news_main;
                @include panelBox();
                @include fadeBox();
                height: 450px;
                width: 170%;
                color: $boxHeaderColor;
                animation-delay: 2s;

                .news_header{
                    @include boxHeaderSection();
                }
                .news_content{
                    height: 380px;
                    overflow-y: scroll;
                    overflow-x: hidden;
                    padding: 5px;
                    .news_box{
                        height: 140px;
                        width: 100%;
                        margin-bottom: 10px;
                        .news_image{
                            float: left;
                            width: 35%;
                            img{
                                height: 140px;
                                width: 190px;
                                border-radius: 5px;
                            }
                        }
                        .news_text{
                            position: relative;
                            float: left;
                            width: 60%;
                            height: 150px;
                            a{
                                text-decoration: none;
                                color: $boxTextColor;
                            }
                            .article_title{
                                margin-top: 15px;
                                font-weight: 600;
                                letter-spacing: 0.5px;
                            }
                            .article_info{
                                color: #a7a7a7;
                                font-size: 14px;
                                margin-top: 10px;
                                .article_author, .article_date{
                                    margin-left: 5px;
                                }
                                .calendar_icon{
                                    margin-left: 10px;
                                }
                            }
                        }
                    }
                    @include scrollbar();
                }
            }
        }
    }
}