// *************** VARIABLES ***************

$buttonFontSize: 16px;
$border: 1px solid black;
$boxHeaderFont: 18px;
$boxHeaderColor: #555;
$boxTextColor: #7C8695;
$buttonGreen: #3c9600;
$headerColor: #555;
$textColor: #7C8695;
$deleteRed: #F44336;
$editBlue: #304ffe;