@import "../mixins";
@import "../variables";
@import "../modals";

.admin_panel{

    .add_new_date{
        @include greenBtn();
        @include fadeBox();
        animation-delay: 1.5s;
        // margin-top: 50px;
        position: absolute;
        left: 800px;
        top: 97px;
        z-index: 100;
    }
    
    .main_section{
        grid-area: main_section;
        padding: 10px;
        display: grid;
        grid-template-areas: '. calendar . '
        ;
        grid-template-columns: 1fr 2fr 1fr;

        #calendar{
            grid-area: calendar;
            @include panelBox();
            padding: 10px;
            width: 1022px;
            @include fadeBox();
            text-align: center;
        }
        // .calendar_form{
        //     grid-area: calendar_form;
        //     @include panelBox();
        //     float: left;
        //     padding: 5px;
        //     @include fadeBox();
        //     animation-delay: 1.5s;
        //     text-align: center;

            // .calendar_days{
            //     table{
            //         thead{
            //             tr{
            //                 background: #cecece;
            //                 th{
            //                     text-align: left;
            //                     padding: 5px;
            //                 }
            //             }
            //         }
            //         tbody{
            //             border: 1px solid #cecece;
            //             tr{
            //                 padding: 5px;
            //                 text-align: left;
            //             }
            //         }
            //     }
            // }

        // }
    }
}