@import "../mixins";
@import "../variables";
@import "../modals";

.admin_panel{

    .add_new_date{
        @include button();
        @include addNewBtn();
        @include fadeBox();
        padding: 0.75rem 2rem;
        animation-delay: 1.5s;
        position: absolute;
        left: 800px;
        top: 97px;
        z-index: 100;
    }
    
    .main_section{
        grid-area: main_section;
        padding: 10px;
        display: grid;
        grid-template-areas: '. calendar .'
        ;
        grid-template-columns: 1fr 2fr 1fr;

        #calendar{
            grid-area: calendar;
            @include panelBox();
            padding: 10px;
            width: 1022px;
            text-align: center;
        }
    }
}