<p class="the_label label_1" data-label="label_1">Delete user account</p>
<p class="the_label label_2" data-label="label_2">Send user new password</p>
<p class="the_label label_3" data-label="label_3">Delete Task</p>
<p class="the_label label_4" data-label="label_4">Mark as complete</p>
<p class="the_label label_5" data-label="label_5">Mark as uncomplete</p>
<p class="the_label label_6" data-label="label_6">Make user admin</p>
<p class="the_label label_7" data-label="label_7">Remove admin rights</p>