@import '../loading';

*{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.loading_wrapper{
    display: block;
    h1{
        text-align: center;
        margin-top: 200px;
    }
}

.container{
    display: none;
}